<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Admin Dashboard</title>

    <!-- Montserrat Font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Material Icons -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/addproduct.css">

  </head>
  <body>
    <div class="grid-container">

      <!-- Header -->
      <header class="header">
        <div class="menu-icon" onclick="openSidebar()">
          <span class="material-icons-outlined">menu</span>
        </div>
        <div class="header-left">
          <span class="material-icons-outlined">search</span>
        </div>
        <div class="header-right">
          <span class="material-icons-outlined">notifications</span>
          <span class="material-icons-outlined">email</span>
          <span class="material-icons-outlined">account_circle</span>
        </div>
      </form>
      </header>
      <!-- End Header -->

      <!-- Sidebar -->
      <aside id="sidebar">
        <div class="sidebar-title">
          <div class="sidebar-brand">
            <span class="material-icons-outlined">shopping_cart</span> STORE
          </div>
          <span class="material-icons-outlined" onclick="closeSidebar()">close</span>
        </div>

        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="/adminHome">
              <span class="material-icons-outlined">dashboard</span> Dashboard
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/addproduct">
              <span class="material-icons-outlined">inventory_2</span> Products
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="addcategory">
              <span class="material-icons-outlined">category</span> Categories
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#">
              <span class="material-icons-outlined">groups</span> Customers
            </a>
          </li>
           <li class="sidebar-list-item">
            <a href="#" target="_blank">
              <span class="material-icons-outlined"><span class="material-symbols-outlined">
                reviews
                </span></span> Review
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="#"></a>
              <span class="material-icons-outlined"><span class="material-symbols-outlined">
                cards </span></span> Coupon
            </a>
          </li>
          <li class="sidebar-list-item">
            <a href="/banner"></a>
              <span class="material-icons-outlined"><span class="material-symbols-outlined">
                right_panel_close </span></span> Banner
            </a>
          </li>
        </ul>
        
      </aside>
      <!-- End Sidebar -->

      <!-- Main -->
      <main class="main-container">
          <form action="addproduct" method="post" enctype="multipart/form-data">
                <div class="formdetails">
                <label for="product_name">Product Name:</label>
                <input type="text" id="product_name" name="product_name" required>
    
                <label for="product_description">Product Description:</label>
                <textarea id="product_description" name="product_description" required></textarea>
    
                <label for="product_price">Product Price:</label>
                <input type="number" id="product_price" name="product_price" required>
    
                <label for="product_quality">Product Quantity</label>
                <input type="number" id="quantity" name="quantity" required>
    
                <label for="product_discount">Product Discount</label>
                <input type="number" id="discount" name="discount" required>
    
                <label for="product_size">Product Size</label>
                <div style="border: 1px solid rgba(128, 128, 128, 0.485); height: 30px; border-radius: 4px; display: flex; align-items: center;">
                  <input type="checkbox" name="size" id="sizeS" value="S">
                  <label for="sizeS">S</label>
                  <input type="checkbox" name="size" id="sizeM" value="M">
                  <label for="sizeM">M</label>
                  <input type="checkbox" name="size" id="sizeL" value="L">
                  <label for="sizeL">L</label>
                  <input type="checkbox" name="size" id="sizeXL" value="XL">
                  <label for="sizeXL">XL</label>

                </div>
                <label for="product_image">Product Image URL:</label>
                <input type="file" multiple accept='image/*' id="product_image" name="image" required>
                <br>
             </div>
                <button type="submit">Add Product</button>
            </form>
        
      </main>
      <!-- End Main -->

    </div>

    <!-- Scripts -->
    <!-- ApexCharts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.35.5/apexcharts.min.js"></script>
    <!-- Custom JS -->
    <script src="/js/scripts.js"></script>
  </body>
</html> 