<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
		integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.png" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/linearicons-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/slick/slick.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/MagnificPopup/magnific-popup.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/perfect-scrollbar/perfect-scrollbar.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" href="/css/checkout.css">
</head>
<body>
    <%- include('header') -%>
    <main>
      <!-- Modal -->
      <div
        class="modal fade"
        id="changeAddressModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content bg-white eachAdd border-0">
            <div class="modal-header">
              <h5
                class="modal-title"
                id="exampleModalLabel"
              >
                Address
              </h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">
              <% addresses.forEach((add) => { %>
                <% add.address.forEach((address) => { %>
                  <div class="chooseAdd existingAddress p-3 w-100 mb-3 position-relative">
                      <p class="name"><%= address.name %> helloo</p>
                      <p>Abc house, abc street, PIN: 673478</p>
                      <p class="phone">Phone: <%= address.phonenumber %></p>
                      <input name="adId" class="position-absolute radio" type="radio" value="proId1">
                  </div>
                <% }) %>
              <% }) %>
             
              <p class="m-0"><a href="/address" class="button">Add Address</a></p>
             
          </div>
          
          
            <div class="modal-footer">
              
              <button style="background-color: #dc3545; height: 35px;width: 55px;border-radius: 2px;color: white;">Add</button>
              <button
                type="button"
                class="btn btn-secondary bg-danger text-white"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <!-- Add additional buttons or actions as needed -->
            </div>
          </div>
        </div>
      </div>
      <!-- end of Modal -->
      <div class="container-fluid main">
        <div class="row mainContainer">
          <div class="col-12">
            <div class="cartBody d-flex">
              <div class="col-6 oneSection">
                <div class="cartItems">
                  <div class="items position-relative mb-3">
                    <div class="d-flex payOptions align-items-center gap-3">
                      <input
                        class="pay"
                        name="payMethode"
                        value="OP"
                        type="radio"
                        id="creditCard"
                      />
                      <h2 class="m-0">Credit Card</h2>
                    </div>
                    <div class="credit">
                      <label for="cCNo" class="d-block"
                        >Credit card number</label
                      >
                      <input type="number" name="cCNo" />
                      <div class="d-flex gap-3 w-100">
                        <div class="w-50">
                          <label for="expiry" class="d-block"
                            >Expiry (MM/YY)</label
                          >
                          <input type="text" class="w-100" name="expiry" />
                        </div>
                        <div class="w-50">
                          <label for="CVV" class="d-block">CVV</label>
                          <input type="number" class="w-100" name="CVV" />
                        </div>
                      </div>
                      <label for="nOC" class="d-block">Name on the card</label>
                      <input type="number" name="nOC" />
                    </div>
                  </div>

                  <div class="items position-relative mb-3">
                    <div class="d-flex payOptions align-items-center gap-3">
                      <input
                        class="pay"
                        name="payMethode"
                        value="COD"
                        type="radio"
                        id="COD"
                      />
                      <h2 class="m-0">Cash On Delivery (COD)</h2>
                    </div>
                  </div>

                  <div class="orderSummary m-0 w-100">
                    <div class="orderHeading">
                      <h2>Delivery Address</h2>
                    </div>
                    <div class="deleviryContent">
                      <div class="chooseAdd position-relative">
                        <div class="existingAddress">
                          <p class="name">John D</p>
                          <p>Abc house, abc street,PIN: 673478</p>
                          <p class="phone">Phone: 98675555568</p>
                        </div>
                        <a
                          href="/userChangeAddress"
                          data-bs-toggle="modal"
                          data-bs-target="#changeAddressModal"
                        >
                          <button class="position-absolute button">
                            Change
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6 oneSection">
                <div class="orderSummary">
                  <div class="orderHeading">
                    <h2>order summary</h2>
                  </div>
                  <div class="orderContent">
                    <div
                      class="sTotal d-flex justify-content-between align-items-center"
                    >
                      <p class="commonText m-0 p-0">Subtotal</p>
                      <p class="commonSub m-0 p-0" id="sTotal">₹27,598</p>
                    </div>

                    <div
                      class="ship d-flex justify-content-between align-items-center"
                    >
                      <p class="commonText m-0 p-0">Shipping</p>
                      <p class="commonSub m-0 p-0" id="free">FREE</p>
                    </div>

                    <div
                      class="ship d-flex justify-content-between align-items-center"
                    >
                      <p class="commonText m-0 p-0">Discount</p>
                      <p class="commonSub m-0 p-0" id="dPrice">-19,600</p>
                    </div>

                   
                  </div>
                  <div
                    class="commonText tPrice d-flex justify-content-between align-items-center"
                  >
                    <p class="m-0 p-0">Total</p>
                    <p class="m-0 p-0" id="tPrice">₹7,998</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="checkOut">
              <form action="/userCartCheckOut">
                <button>Proceed to payment</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- end of main -->



    <!-- custom js -->
    <script src="./js/userPayment.js"></script>
    <!-- end of custom js -->
    <!-- fontawesome -->
    <script
      src="https://kit.fontawesome.com/23d1247997.js"
      crossorigin="anonymous"
    ></script>
    <!-- end of fontawesome -->
    <!-- Bootstrap script file -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <!--end of Bootstrap script file -->
  </body>
</html>

    
</body>
</html>


<script>
  const radio = document.querySelectorAll('.radio');radio.forEach((element) => {
  element.addEventListener('change', () => {
    const data = element.value;
    console.log(data);
  })
});




</script> 